eln-cache/
elpa/
transient/
tree-sitter/
auto-save-list
history
places
places.eld
projects
projects.eld
recentf
recentf.eld
projectile-bookmarks.eld
projectile-frecency.eld
\#*
.#*
*~
.cache/
.mc-lists.el
